/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* End of CSS Reset */

:root {
    --primary: black;
    --primary2: rgb(0, 255, 0);
    --hit: red;
    --missed: white;
    --friendly-hit: green;
}

body {
    padding-top: 2rem;
    width: 100vw;
    height: 100vh;
    color: var(--primary2);
    background-color: var(--primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10%;
}

h1 {
    font-size: 3rem;
}

input {
    background-color: var(--primary);
    border: none;
    color: var(--primary2);
    width: 90%;
    height: 50%;
}

input:focus {
    outline: none;
}

#terminal {
    width: min(100vw, 100vh);
    grid-template-rows: auto auto;
    height: min(20vw, 20vh);
    border: 1px solid var(--primary2);
}

#container {
    height: min(50vw, 50vh);
    width: min(100vw, 100vh);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

#container > * {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

#ships {
    height: 100px;
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.ship {
    height: 50%;
    h2 {
        border: 1px solid var(--primary2);
        height: 100%;
        width: 100%;
    }

    h2:hover {
        border: 3px solid var(--primary2);
    }
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
}

.cell {
    border: 1px solid var(--primary2);
}

.cell:hover {
    border: 3px solid var(--primary2);
}

.cell-hit {
    background-color: var(--hit);
}

.cell-missed {
    background-color: var(--missed);
}

.cell-friendly {
    background-color: var(--primary2);
}

.cell-friendly-hit {
    background-color: var(--friendly-hit);
}

.cell-dragover {
    border: 1px solid var(--hit);
}